img{
    display: block;
    clear: both;
}

.image1{
    height: 200px;
    float: right;
}

.image2{
    width: 200px;
    margin: 0 auto;
}

.image3{
    width: 200px;
    height: 200px;
    float:left;
}