table{
    border-collapse: collapse;
    width: 960px;
    margin: 0 auto 0 auto;
    text-align: center;
    
}
img{
    height:100px;
    
}
img:hover{
    height:130px;
    
}
.header{
    background-color: red;
    border-collapse: collapse;
    color: white;
    height: 40px;
    
}

.gold {
    background-color: gold
}
tr:hover{
    background-color: yellow
}

td{
    padding: 10px 0;
    width: 155px;
    height: 150px;
}
tr:nth-child(even){
    background-color: rgb(230, 230, 230)
}
tr:nth-child(even):hover{
    background-color: yellow;
}